/* =IDBCSite CSS Stylesheet
-------------------------------------------------------------- */

* {
  padding: 0;
  margin: 0;
}

ul{
  list-style-type: none; 
}

a{
  text-decoration: none;
  color:white;
}

head, body, h1, p{
font-family: "Avenir", sans serif;
}

strong{
  font-family: "AvenirBold", sans serif;
}
 

@font-face {
    font-family: Avenir;
    src: url("fonts/AvenirNext.otf");
}

@font-face {
    font-family: AvenirLight;
    src: url("fonts/AvenirNextLight.otf");
}

@font-face {
    font-family: AvenirBold;
    src: url("fonts/AvenirNextBold.otf");
}

body, head{width:100%;}

/* =Header Video
-------------------------------------------------------------- */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    position: absolute;
    height:100%; 
    z-index:1;
    background: rgba(40, 40, 40, 0.7);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
}
.video-container video.fillWidth {
    width: 100%;
}


/* =Header 
-------------------------------------------------------------- */
#Logo{
width:100%;
}

#LogoImage{
padding-left: 80px;
height: 120px !important;
width: 210px;
padding-top: 30px;
}

#switch{
padding-left:90%; 
padding-top:6.8%; 
position:absolute;
}

#language{
font-size: 20px;
color: white;
top: -9px;
position: relative;
}

#navbar{
position:absolute; 
padding-top:3.2%; 
float:right; 
padding-left:33%;
}

#Services-Solutions{
font-family:Avenir; 
font-size:68px; 
}

#Impact{
text-align:left; 
padding-left:100px; 
font-family:Avenir; 
letter-spacing: 2px; 
font-size:42px; 
}

#WordsContainer{
position:absolute; 
float:right; 
top:54.8%; 
left:56%; 
}

#WhatWeOffer{
width:100%; 
background-color:white; 
z-index:10000; 
top:100px; 
}

#Business{
font-size:50px; 
color:#4b4b4b; 
padding-left:33%; 
margin-top:10%;
}

#Strategy{
 font-size:32px; 
 float:right; 
 margin-top:0; 
 color:#a0a7ab; 
}

#FirstSet{
padding-left:17%; 
margin-top:5%;
}

#SecondSet{
  padding-left:17%; 
  margin-top:20%;
}

#SecondIcon{
  padding-left:25%;
}

#ThirdIcon{
  padding-left:50.1%;
}

#WhatWeOffer-02{
display:inline-block; 
padding-left:20%; 
}

#Develop{
  display:inline-block; 
  padding-left:20%;
}

#Method{
  background:#84b73f; 
  width:100%; 
  position:absolute; 
  top:1690px; 
  height:470px;
}

#Method-Paragraph{
  color:white; 
  width:40%; 
  font-family:Avenir; 
  font-size:22px;
  padding-left:33%;
  text-align:justify; 
  position:relative;top:0%;
}

#Method-Title{
  font-size:50px; 
  color:white; 
  padding-left:40.3%; 
  margin-top:7%;
}

#Startups-Title{
  font-size:50px; 
  color:white; 
  padding-left:28%;
  margin-top:1%; 
  position:relative;
}

#Startups{
  background-image:url(images/Startups.png); 
  width:100%; 
  position:absolute; 
  top:2050px; 
  height:950px;
}

#Me-Title01{
font-size:50px; 
color:#4b4b4b; 
padding-left:33%; 
margin-top:10%; 
}

#WhatWeOffer-Title02{
font-size:32px; 
float:right; 
margin-top:11.5%; 
color:#a0a7ab;
}

#image-01, #image-02, #image-03{
top: -35px;
padding-left: 10px; 
position:absolute;
}

#image-04, #image-05, #image-06{
top: -35px;
padding-left: 10px; 
position:absolute;
}

#WhoWeAre{
  width: 100%;
  height:516px;
  display:block;
  position: absolute;
  height:1400px; 
  top:3000px;
}

#WhoWeAre-Title{
font-size:50px;
color:white; 
position:absolute; 
top:30px; 
padding-left:75px; 
font-family:Futura; 
font-weight:Medium;
}

#WhoWeAre-Paragraph01{
color: white;
position: absolute;
top: 530px;
padding-left: 140px;
width: 60%;
}

#WhoWeAre-Paragraph{
  color:white; 
  width:100%; 
  font-family:Avenir; 
  font-size:28px;
  padding-left:15%;
  text-align:center; 
  position:relative;
}

#WhoWeAre-Paragraph02{
  color:white; 
  width:100%; 
  font-family:Avenir; 
  font-size:28px;
  padding-left:16%;
  text-align:center; 
  position:relative;
}

#Method{
  background:#84b73f; 
  width:100%; 
  position:absolute; 
  top:1600px; 
  height:470px;
}

#Paragraph-01{
    width: 80%;
    position:absolute;
    font-family: "Avenir", sans serif;
    font-weight: light;
    font-size:72px;
    text-align:center;
    float: left;
    left:175px;
    top:360px;
    color: white;
    z-index:1000;

}

#Method-Image{
padding-left:15.5%; 
position:relative; 
margin-top:2%;
}

#Development-01{
  padding-left:22%; 
  padding-top:16%;  
  position:absolute;
}

#Strategy-01{
  padding-left:47%; 
  padding-top:16%;  
  position:absolute;
}

#Visuals-01{
  padding-left:70%; 
  padding-top:18%;  
  position:absolute;
}

#Image001{
  float:left; 
  position:absolute; 
  padding-left:48%;
  height:60px; 
  top:120px;
}

#WorkWithUs-Title{
  font-size:50px; 
  color:#ffffff; 
  padding-left:33.5%; 
  margin-top:15%; 
  position:relative;
}

/* = Top Menu
-------------------------------------------------------------- */
.menu {
  line-height: 1;
  margin: 0 auto 3em;
}

.menu__list {
    font-family: "Avenir";
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    top: 30px;
    z-index: 999;
}

.menu__item {
  display: block;
  margin: 0em 0 1em;
}

.menu__link {
  font-size: 1.05em;
  font-weight: bold;
  display: block;
  padding: 0.945em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link:hover,
.menu__link:focus {
  outline: none;
}


/* Shylock */
.menu--shylock .menu__link {
  position: relative;
  font-size:22px;
  margin: 0 1em;
  padding-right: 0;
  padding-left: 0;
  color: #b5b5b5;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  z-index:999;
}

.menu--shylock .menu__item--current .menu__link,
.menu--shylock .menu__item--current .menu__link:hover,
.menu--shylock .menu__item--current .menu__link:focus {
  color: white;
}

.menu--shylock .menu__item--current .menu__link::after,
.menu--shylock .menu__item--current .menu__link::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.menu--shylock .menu__item--current .menu__link::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.menu--shylock .menu__link:hover,
.menu--shylock .menu__link:focus {
  color: #b5b5b5;
}

.menu--shylock .menu__link:hover::before,
.menu--shylock .menu__link:focus::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.menu--shylock .menu__link::before,
.menu--shylock .menu__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 6px;
  border-radius: 100px;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: center left;
  transform-origin: center left;
  -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu--shylock .menu__link::before {
  background: #b5b5b5;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.menu--shylock .menu__link::after {
  background: #b5b5b5;
}

li {
    float: left;
     
}

li a {
    display: block;
    color: #ffffff ;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#GetInTouch{
background-color:white; 
position:absolute; 
height:200px; 
top:1370px;
}


#Footer{
height:100px; 
width:100%; 
top:2600px; 
position:absolute;
background-color:#090909; 
top:5470px;
font-size:22px; 
color:grey;
text-align:center;
}

#PreFooter{
background-color:#232323; 
top:5200px; 
position:absolute;
width:100%; 
height:300px;
}

#SocialMedia{
padding-left:39%; 
padding-top:5%;  
position:absolute; 
display:inline-block; 
width:55%;
}

/* =Form
-------------------------------------------------------------- */

#Row1{
top:2200px; 
padding-left:300px; 
float:left;
}

#Message
{
color:white; 
background-color:#00557d;
border: 0px;
width:46%; 
height:200px; 
border-radius: 3px;
margin-top: -19px;
position: absolute;
}

#Name{
    float: left;
    top: 120px;

}

#Email{
    float: right;
    top: -19px;
    left: 105px;
}

#Compania{
    margin-top: -67px;
}


#Pais{
    color: white;
    background-color: #00557d;
    border: 0px;
    width: 248px;
    height: 51px;
    border-radius: 3px;
    float: right;
    position: relative;
    margin-bottom: 10px;
    top: -96px;
    right: -89px;
}

  form label {
    display: block;
    margin: 0 0 0.5em 0;
  }

  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form select,
  form textarea {
    -moz-transition: background-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
    -webkit-appearance: none;
    display: block;
    border: 0;
    background: #f1f1f1;
    width: 100%;
    padding: 0.75em;
  }

    form input[type="text"]:focus,
    form input[type="email"]:focus,
    form input[type="password"]:focus,
    form select:focus,
    form textarea:focus {
      background: #f8f8f8;
    }

  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form select {
    line-height: 1em;
  }

  form textarea {
    min-height: 12em;
  }

  form .formerize-placeholder {
    color: #FFFFFF !important;
  }

  form ::-webkit-input-placeholder {
    color: #FFFFFF  !important;
  }

  form :-moz-placeholder {
    color: #FFFFFF  !important;
  }

  form ::-moz-placeholder {
    color: #FFFFFF  !important;
  }

  form :-ms-input-placeholder {
    color: #FFFFFF  !important;
  }

  form ::-moz-focus-inner {
    border: 0;
  }

  form ul.actions {
    margin-bottom: 0;
    text-align: center;
}


  .box {
    position: relative;
    margin-top: 9em;
    margin-bottom: 0;
  }

    .box:after {
      content: '';
      display: block;
      position: absolute;
      top: -9em;
      left: 50%;
      height: 9em;
      border-left: solid 1px #fff;
    }

    .box:before {
      content: '';
      display: block;
      width: 90px;
      height: 66px;
      position: absolute;
      left: 50%;
      top: -4.5em;
      margin-left: -45px;
      margin-top: -33px;
    
    }

    .box :last-child {
      margin-bottom: 0;
    }

    .box.style1 {
      background: #fff;
      padding: 3em;
    }

      .box.style1 .image {
        display: block;
        position: absolute;
        top: 0;
        width: 50%;
        height: 100%;
        background: #152E33;
        overflow: hidden;
      }

        .box.style1 .image img {
          position: absolute;
          top: 0;
          height: 100%;
          width: auto;
        }

      .box.style1 .inner > :last-child {
        margin: 0;
      }

      .box.style1.right .image {
        left: 0;
      }

        .box.style1.right .image img {
          right: 0;
        }

      .box.style1.right .inner {
        margin-left: 50%;
        padding-left: 3em;
      }

      .box.style1.left .image {
        right: 0;
      }

        .box.style1.left .image img {
          left: 0;
        }

      .box.style1.left .inner {
        margin-right: 50%;
        padding-right: 3em;
      }

    .box.style2 {
      text-align: center;
    }

      .box.style2 header {
        display: inline-block;
        background: #fff;
        padding: 2em 3em 2em 3em;
        margin: 0;
      }

        .box.style2 header p {
          padding: 0;
        }

      .box.style2 .inner {
        position: relative;
        padding: 40px 0 0px 0;
      }

        .box.style2 .inner:after {
          content: '';
          display: block;
          position: absolute;
          top: 0;
          left: 50%;
          height: 100%;
          border-left: solid 1px #fff;
        }

        .box.style2 .inner .row {
          position: relative;
        }

          .box.style2 .inner .row:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 20px;
            width: calc(100% - 40px);
            border-bottom: solid 1px #fff;
          }

        .box.style2 .inner .image {
          position: relative;
          z-index: 1;
          padding: 20px;
        }

    .box.style3 {
      background: #fff;
      padding: 3em;
    }

      .box.style3 header {
        text-align: center;
      }

/* Button */

  input[type="button"],
  input[type="submit"],
  input[type="reset"],
  button,
  .button {
    -moz-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out, color 0.35s ease-in-out;
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    border: 0;
    background: #874709 !important;
    color: #fff;
    text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25);
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    padding: 1em 3em 1em 3em;
    text-align: center;
    border-radius: 3em;
    font-weight: 400;
    
  }

    input[type="button"]:hover,
    input[type="submit"]:hover,
    input[type="reset"]:hover,
    button:hover,
    .button:hover {
      background: #45c89f;
    }

    input[type="button"].style2,
    input[type="submit"].style2,
    input[type="reset"].style2,
    button.style2,
    .button.style2 {
      color: #3a3939;
      background: #fff;
      box-shadow: inset 0 0 0 1px #fff;
    }

      input[type="button"].style2:hover,
      input[type="submit"].style2:hover,
      input[type="reset"].style2:hover,
      button.style2:hover,
      .button.style2:hover {
        background: rgba(255, 255, 255, 0.1);
        color: #fff !important;
        text-shadow: 0 0 0.5px rgba(255, 255, 255, 0.25) !important;
      }

    input[type="button"].style3,
    input[type="submit"].style3,
    input[type="reset"].style3,
    button.style3,
    .button.style3 {
      background: none;
      color: #3a3939;
      box-shadow: inset 0 0 0 1px #dad9d9;
    }

      input[type="button"].style3:hover,
      input[type="submit"].style3:hover,
      input[type="reset"].style3:hover,
      button.style3:hover,
      .button.style3:hover {
        background: rgba(58, 57, 57, 0.025);
      }

/* End of Button */


/* =Words Changing Effect
-------------------------------------------------------------- */

#WordsChange
{
/*color: #00557d; */
color:white;
position:absolute;
font-family:AvenirBold;
font-size:42px;
top: 53%;
left: 41%;
z-index:1000000; 
}
  .rw-sentence span{
  color: #fff;
  font-size: 100%;
  font-weight: normal;
}

.rw-words-1 span{
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #669bb9;
  -webkit-animation: rotateWord 18s linear infinite 0s;
  -ms-animation: rotateWord 18s linear infinite 0s;
  animation: rotateWord 18s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
    -webkit-animation-delay: 3s; 
  -ms-animation-delay: 3s; 
  animation-delay: 3s; 
  color: #669bb9;
}
.rw-words-1 span:nth-child(3) { 
    -webkit-animation-delay: 6s; 
  -ms-animation-delay: 6s; 
  animation-delay: 6s; 
  color: #669bb9; 
}

.rw-words-1 span:nth-child(4) { 
    -webkit-animation-delay: 9s; 
  -ms-animation-delay: 9s; 
  animation-delay: 9s; 
  color: #669bb9; 
}

.rw-words-1 span:nth-child(5) { 
    -webkit-animation-delay: 12s; 
  -ms-animation-delay: 12s; 
  animation-delay: 12s; 
  color: #669bb9; 
}

.rw-words-1 span:nth-child(6) { 
    -webkit-animation-delay: 15s; 
  -ms-animation-delay: 15s; 
  animation-delay: 15s; 
  color: #669bb9; 
}


@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
  5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
  20% { opacity: 0; -ms-transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { opacity: 0; }
    100% { opacity: 0; }
}


/* = Who we are - Parallax Effect
-------------------------------------------------------------- */

section.module.parallax {
  height: 600px;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-image: url(2.jpg);
}

/* End of Who we are Parallax */

/*What We Offer Icons On Click Effect*/



/*End of What We Offer Icons On Click Effect*/

/*Responsive Design*/

@media screen and (min-width: 600px) 
{  /*Desktop Style*/
 
}


/* =Navigation Menu
-------------------------------------------------------------- */



nav {
 
    background: transparent;
    transition: opacity 1s ease-out;
    opacity: 1 !important;
    height: 120px;
    line-height: 20px;
    width: 100%;
    position: fixed;
    top: -10px;
    left: 0;
    z-index: 10;

}

.scrolled {
 opacity: 0.97 !important;
 height: 110px;
 line-height: 20px;
}


/* =Header Arrow pointing to what we offer
-------------------------------------------------------------- */

#pruebaboton-1{
 top:650px;
 padding-left:47%;
 position:absolute;
 z-index:1;}

#pruebaboton-3{
  padding-right: 30%;
  z-index: 1;
  position: absolute;
}

.input {
  position: relative;
  z-index: 1;
  display: inline-block;
  margin: 1em;
  max-width: 250px;
  width: calc(100% - 2em);
  vertical-align: top;
}

.input__field {
  position: relative;
  display: block;
  float: right;
  padding: 0.8em;
  width: 60%;
  border: none;
  border-radius: 0;
  background: #f0f0f0;
  color: #aaa;
  font-weight: 400;
  font-family: "Avenir", sans-serif;
  -webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
  outline: none;
}

.input__label {
  display: inline-block;
  float: right;
  padding: 0 1em;
  width: 40%;
  color: #696969;
  font-weight: bold;
  font-size: 70.25%;
  -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input__label-content {
  position: relative;
  display: block;
  padding: 1.6em 0;
  width: 100%;
}

.graphic {
  position: absolute;
  top: 0;
  left: 0;
  fill: none;
}

.icon {
  color: #ddd;
  font-size: 150%;
}

/* Individual styles */



/* Kozakura */
.input--kozakura {
  overflow: hidden;
  padding-bottom: 1em;
}

.input__field--kozakura {
  padding: 0.25em 0.5em;
  margin-right: -1em;
  margin-top: 1em;
  width: 100%;
  background: transparent;
  color: #2F3238;
  font-size: 1.55em;
  opacity: 0;
}

.input__label--kozakura {
  width: 100%;
  text-align: left;
  position: absolute;
  top: 1em;
  pointer-events: none;
  overflow: hidden;
  padding: 0 0.25em;
  -webkit-transform: translate3d(1em, 2.75em, 0);
  transform: translate3d(1em, 2.75em, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label-content--kozakura {
  color: #A4A5A6;
  padding: 0.4em 0 0.25em;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.input__label-content--kozakura::after {
  content: attr(data-content);
  position: absolute;
  font-weight: 800;
  top: 100%;
  left: 0;
  height: 100%;
  width: 100%;
  color: #fff;
  padding: 0.25em 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.85em;
}

.graphic--kozakura {
  fill: #00557d;
  pointer-events: none;
  top: 1em;
  bottom: 0px;
  height: 4.5em;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.7s, fill 0.7s;
  transition: transform 0.7s, fill 0.7s;
  -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
} 

.input__field--kozakura:focus,
.input--filled .input__field--kozakura {
  -webkit-transition: opacity 0s 0.35s;
  transition: opacity 0s 0.35s;
  opacity: 1;
}

.input__field--kozakura:focus + .input__label--kozakura,
.input--filled .input__label--kozakura {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.input__field--kozakura:focus + .input__label--kozakura .input__label-content--kozakura,
.input--filled .input__label-content--kozakura {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}

.input__field--kozakura:focus ~ .graphic--kozakura,
.input--filled .graphic--kozakura {
  fill: #fff;
  -webkit-transform: translate3d(-66.6%, 0, 0);
  transform: translate3d(-66.6%, 0, 0);
}



/* =Template
-------------------------------------------------------------- */
#wrapper {
  width: 100%;
  margin: 0 auto; }

#main {
  background-color: #fff;
  padding-top: 150px; }

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 30px; }

section {
  padding: 60px 0; }
  section h1 {
    font-weight: 700;
    margin-bottom: 10px; }
  section p {
    margin-bottom: 30px; }
    section p:last-child {
      margin-bottom: 0; }
  section.color {
    background-color: #3cb5f9;
    color: white; }

/* =Header
-------------------------------------------------------------- */
header {
  width: 100%;
  height: 150px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: transparent;
  -webkit-transition: height 0.3s;
  -moz-transition: height 0.3s;
  -ms-transition: height 0.3s;
  -o-transition: height 0.3s;
  transition: height 0.3s; }

  header.smaller {
    height: 75px;
    z-index: 10000; }

    header.smaller #LogoImage {
    width: 150px;
    height: 90px !important;
    position: absolute;
    padding-bottom: 60px;
    line-height: 25px;
    font-size: 30px;
    z-index: 10000;
    padding-top: 0px;}

    header.smaller #navbar{
      font-size:18px;
      top: -30px; }

    header.smaller #language{
      font-size: 20px;
      top: -73px;
      color: #4b4b4b;}

    header.smaller a{
      text-decoration: none;
      color:#4b4b4b;}

.clearfix:after {
  visibility: hidden;
  display: block;
  content: "";
  clear: both;
  height: 0; }


/*----------------------- Style for Buttons ------------------------ */

/* Common button styles */
.button {
  min-width: 150px;
  max-width: 250px;
  height: 59px;
  padding: 0em 2em !important;
  display: block;
  margin-left: 41.5%;
  margin-top: 4%;
  padding: 1em 8em;
  border-color: #fff;
  background: none;
  color: white !important;

  font-family: Avenir,sans-serif;
  font-size: 22px;
  color: inherit;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.button:focus {
  outline: none;
}
.button > span {
  vertical-align: middle;
}

/* Text color adjustments (we could stick to the "inherit" but that does not work well in Safari) */



.button--text-thick {
  font-weight: 600;
}
.button--round-s {
  border-radius: 5px;
}

.button--border-medium {
  border: 4px solid;
}



/* Ujarak */
.button--ujarak {
  -webkit-transition: border-color 0.4s, color 0.4s;
  transition: border-color 0.4s, color 0.4s;
}
.button--ujarak::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;

  border-color: #fff;
  z-index: -1;
  opacity: 0;
  -webkit-transform: scale3d(0.7, 1, 1);
  transform: scale3d(0.7, 1, 1);
  -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
  transition: transform 0.4s, opacity 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak.button--round-s::before {
  border-radius: 2px;
}
.button--ujarak.button--inverted::before {
  background: #7986CB;
}
.button--ujarak,
.button--ujarak::before {
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--ujarak:hover {
  color: #be641e !important;
  border-color: #fff;
}
.button--ujarak.button--inverted:hover {
  color: #37474F;
  border-color: #fff;
}
.button--ujarak:hover::before {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}


/* = Low Menu
-------------------------------------------------------------- */

.menu {
  line-height: 1;
  margin: 0 auto 3em;
}

.menu__list2 {
    font-family: "Avenir";
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    top: 30px;
    z-index: 999;
}

.menu__item {
  display: block;
  margin: 0em 0 1em;
}

.menu__link2 {

  font-weight: bold;
  display: block;
  padding: 1em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.menu__link2:hover,
.menu__link2:focus {
  outline: none;
}


/* Shylock */
.menu--shylock2 .menu__link2 {
  position: relative;
  font-size:18px;
  margin: 0 1em;
  padding-right: 0;
  padding-left: 0;
  color: #b5b5b5;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  z-index:999;
}

.menu--shylock2 .menu__item--current .menu__link2,
.menu--shylock2 .menu__item--current .menu__link2:hover,
.menu--shylock2 .menu__item--current .menu__link2:focus {
  color: white;
}

.menu--shylock2 .menu__item--current .menu__link2::after,
.menu--shylock2 .menu__item--current .menu__link2::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.menu--shylock2 .menu__item--current .menu__link2::before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.menu--shylock2 .menu__link2:hover,
.menu--shylock2 .menu__link2:focus {
  color: #b5b5b5;
}

.menu--shylock2 .menu__link2:hover::before,
.menu--shylock2 .menu__link2:focus::before {
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.menu--shylock2 .menu__link2::before,
.menu--shylock2 .menu__link2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
  border-radius: 80px;
  -webkit-transform: scale3d(0, 1, 1);
  transform: scale3d(0, 1, 1);
  -webkit-transform-origin: center left;
  transform-origin: center left;
  -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
  transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.menu--shylock2 .menu__link2::before {
  background: #b5b5b5;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}

.menu--shylock2 .menu__link2::after {
  background: #b5b5b5;
}

.menu--shylock2 .menu__list#navbar{
    position:absolute; 
    padding-top:10%; 
    padding-left:27%; 
    float:left; 
    color:white;
}

/*-----Responsive-------*/



@media (max-width: 1200px) {

video{
    width: 1200px;
    top: 0px;
}

#Paragraph-01 {

    left: 140px;
}

#Impact{
padding-left: 0px;

}

#WordsContainer{
top:54%; 
left:58%;
}


#navbar {
    position: absolute;
    padding-top: 2.6%;
    float: right;
    padding-left: 23%;
}

#Message {
  width: 48%;

}

#LogoImage {
    padding-left: 25px;
    height: 120px !important;
    width: 210px;
    padding-top: 24px;
}

.video-container{
    height: 52%;
}

#Business{
margin-top:-69%;
padding-left: 30%;
}

#Strategy{
 font-size:32px; 
 float:right; 
 margin-top:-3%; 
 color:#a0a7ab; 
}

#FirstSet{
padding-left:13%; 
margin-top:5%;
}

#SecondSet{
  padding-left:13%; 

}

#Develop{
  display:inline-block; 
  padding-left:15%;
}

#SecondIcon{
  padding-left:30%;
}

#ThirdIcon{
  padding-left:59%;
}

#Method{
  background:#84b73f; 
  width:100%; 
  position:absolute; 
  top:1450px; 
  height:470px;
}

#Method-Title{
padding-left: 37.5%;
}

#Method-Paragraph{
  width: 45%;
  padding-left: 29%;
}

#Method-Image{
padding-left:8%; 
}

#Startups-Title{
padding-left:24%;
}

#WhoWeAre-Paragraph02{
 width: 104%;
 padding-left: 13%;
}

#WhoWeAre-Paragraph
{
padding-left:15%;
}

#Development-01{
  padding-left:23.5%; 
}

#Strategy-01{
  padding-left:48.5%; 
}

#Visuals-01{
  padding-left:72%; 
}

#Image001{
  padding-left: 48.5%;
}

#WorkWithUs-Title{
  padding-left: 30.5%;
}

.menu--shylock2 .menu__list#navbar{
    padding-top: 12%;
    padding-left: 23%;
}
#pruebaboton-1 {
    top: 37%;
}

.video-container {
    height: 42.2%;
}

#Startups{
top:1920px;
}

#WhoWeAre{
  top:2870px;
}


}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 480px) {

#LogoImage {
    padding-left: 2px;
    height: 110px !important;
    width: 200px;
    padding-top: 24px;
}

#navbar{
  padding-left: 18%;
}

#switch {
  padding-left: 83%;
  padding-top: 12%;
  position: absolute;
}

#Paragraph-01 {
 top: 250px;
}

#Impact {
 padding-left: 122px;

}

#Method-Image {
    padding-left: 0%;
    width:50%;
}

